name = "webapp"
compatibility_date = "2025-11-24"
pages_build_output_dir = "dist"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "webapp-production"
database_id = "8805fe70-936c-4e83-bb3f-9884ccc0c9ed"
